<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
<h4>Log In</h4>
  <form action="/auth/login" method="POST">
    Username: <input type="text" name="username" placeholder="username">
    Password: <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>

  <h4>Register</h4>
  <form action="/auth/register" method="POST">
    Username: <input type="text" name="username" placeholder="username">
    Password: <input type="password" name="password" placeholder="password">
    <button type="submit">Register</button>
  </form>
</body>
</html>