<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="../images/style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <header>

    <%- include('../partials/nav'); -%>
  
  </header>

  <form class="left-section" action="/auth/login" method="POST">
    <fieldset>
      <legend>Log In</legend>
       Username: <input type="text" name="username" placeholder="username">
       Password: <input type="password" name="password" placeholder="password"><br>
        <button class="button1"><span>Log In</span></button>
    </div>
    <div class="sub-main">
    </fieldset>
  </form>


<form class="right-section" action="/auth/register" method="POST">
  <fieldset>
    <legend>Register</legend>
      Username: <input type="text" name="username" placeholder="username">
      Password: <input type="password" name="password" placeholder="password"><br>
        <button class="button1"><span>Register</span></button>
    </div>
    <div class="sub-main">
  </fieldset>
</form>
</body>
</html>




