<nav>
       <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/users/<%=userId%>">User Profile</a></li>
         <li><a href="/cats">Cats</a></li>
         <li><a href="/dogs">Dogs</a></li>
         <li><a href="/auth/logout">Logout</a></li>
       </ul>
</nav>
