<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<link rel="stylesheet" type="text/css" href="../images/style.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
<body>
	<div class="container" align="center">
	  <h1>Pet Adoption</h1>
		<nav>
		  <ul>
		    <li><a href="/">Register</a></li>
		    <li><a href="/">Login</a></li>
		  </ul>
		</nav>
		<main class="statement">We want pets to go to a good home. This site will look at your curated profile to select which pets suit you and your living.</main><br>
	</div>

	<div class="containerPet">

	  <div class="picture">
		  <a href="/dogs"><img class="petPicture" src="https://i.imgur.com/uyAlE2D.jpg"></a>
		  <a href="/cats"><img class="petPicture" src="https://i.imgur.com/W7loMkX.jpg"></a>
	  </div>
	</div>
	  
	  <!-- <div class="petDog">
         <a class="pickDog" href="/dogs">Dogs</a>
	  </div>

	  <div class="petCat">
	  	<a class="pickCat" href="/cats">Cats</a>
	  </div> -->

	  <nav class="containerWord">
	  	
	  	<a class="pickDog" href="/dogs">Dogs</a>
	  	<a class="pickCat" href="/cats">Cats</a>
	  	
	  </nav>
		

</body>
</html>