body {
	background-color: lavender;
	font-family: 'Merriweather Sans', sans-serif;
}

li {
	list-style-type: none;
}

.column {
	display: flex;
	flex-direction: row;
}

.hover01 figure img {
	transform: scale(1);
	transition: .3s ease-in-out;
	width: 100%;
	height: 100%;	
}

.hover01 figure:hover img {
	transform: scale(1.3);
	width: 100%;
	height: 100%;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.statement {
  padding: 10px;
  background: yellow;
  border: 2px solid red;
  font-family: 'Merriweather Sans', sans-serif;
}

.pickCat {
	display: flex;
	flex-direction: row;
	font-size: 30px;
}

.pickDog {
	display: flex;
	flex-direction: row;
	font-size: 30px;
}

.containerWord {
	display: flex;
	justify-content: space-evenly;

}





















