body {
	background-color: lavender;
	font-family: 'Merriweather Sans', sans-serif;
}

li {
	list-style-type: none;
}
.petPicture {
	width: 90%;
	height: 90%;
	padding: 10px 10px 10px 10px;
	border-radius: 10%;
}


.statement {
  padding: 10px;
  background: yellow;
  border: 2px solid red;
  font-family: 'Merriweather Sans', sans-serif;
}

.picture {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	padding: 30px;
}

.pickCat {
	display: flex;
	flex-direction: row-reverse;
	font-size: 30px;
}

.pickDog {
	display: flex;
	flex-direction: row;
	font-size: 30px;
}

.containerWord {
	display: flex;
	justify-content: space-evenly;

}





















