body {
	background-color: lavender;
	font-family: 'Merriweather Sans', sans-serif;
}

img {
	width: 30%;
	height: 30%;
	padding: 20px;
}

.picture {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	padding: 20px;
}

.statement {
  padding: 10px;
  background: yellow;
  border: 2px solid red;
  font-family: 'Merriweather Sans', sans-serif;
}

.pickCat {
	display: flex;
	background-color: red;
	flex-direction: row-reverse;

}

.pickDog {
	display: flex;
	background-color: red;
	flex-direction: row;
	

}











