<!DOCTYPE html>
<html>
<head>
  <title>wiseChoice Home</title>
<link rel="stylesheet" type="text/css" href="../images/style.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>

	<div class="container" align="center">
	  <h1>wiseChoice Pet Adoption</h1>
    <img src="https://i.imgur.com/m2l0tJ1.png?1">

	  <%- include('partials/nav'); -%>

    <nav>
		  <ul>
		    <li><a href="/auth/login">Register</a></li>
		    <li><a href="/auth/login">Login</a></li>
		  </ul>
		</nav>
   

		<main class="statement">
				<p>Welcome to wiseChoice Pet Adoption! Fill out your information and then browse the cats and dogs we have available for adoption at this time. These pets have been pre-screened and will be matched to fit your personal lifestyle, so there is no need to worry about if it will be a good fit. We've done all the work for you!</p>
			<div class="speech-bubble-ds-arrow"></div>
		</main><br>
	</div>

	<div class="hover01 column">
  		<div>
    		<a class="pickDog" href="/dogs"><figure><img src="https://i.imgur.com/uyAlE2D.jpg" /></figure>
    			<span>Dogs</span></a>
  		</div>
  		<div>
    		<a class="pickCat" href="/cats"><figure><img src="https://i.imgur.com/W7loMkX.jpg" /></figure>
    			<span>Cats</span></a>
  	</div>
</div>

</body>
</html>