<!DOCTYPE html>
<html>
<head>
  <title>App Submitted</title>
</head>
<body>
  <h1>Success!</h1>
<h2>Application Submitted for <%=dog.name%></h2>
<img src="<%=dog.photo%>">
<p>A member of our staff will review your application and contact you shortly!</p>
<a href="/dogs">Back to Compatible Dogs</a>
</body>
</html>