<!DOCTYPE html>
<html>
<head>
  <title>Create Profile</title>
</head>
<link rel="stylesheet" type="text/css" href="../images/style.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<body>
  <header>
    <h1 align="center">New User Information</h1>

      <%- include('../partials/nav'); -%>
      
  </header>

  <main>
    <fieldset align="center">
    <legend><h2>Enter Information</h2></legend>
    <form action="/users/<%=userId%>?_method=PUT" method="POST">
      <input type="text" name="firstName" placeholder="First Name"><br>
      <input type="text" name="lastName" placeholder="Last Name"><br>
      <input type="text" name="email" placeholder="Email Address"><br>
      <input type="text" name="phone" placeholder="Phone Number"><br>
      <input type="number" name="age" placeholder="Age"><br>
      Marital Status: <input type="radio" name="maritalStatus" value="single">
                      <label for="single">Single</label>
                      <input type="radio" name="maritalStatus" value="married">
                      <label for="married">Married</label><br>
      Do you have children? <input type="radio" name="children" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" name="children" value="no">
                            <label for="no">No</label><br>
      If Yes, enter children's ages: <input type="text" name="childrenAges"><br>
      Do you have a yard? <input type="radio" name="yard" value="yes">
                          <label for="yes">Yes</label>
                          <input type="radio" name="yard" value="no">
                          <label for="no">No</label><br>
      Do you have other pets? <input type="radio" name="otherPets" value="yes">
                              <label for="yes">Yes</label>
                              <input type="radio" name="otherPets" value="no">
                              <label for="no">No</label><br>
      <button class="button1"><span>Submit</span></button>
    </div>
    <div class="sub-main">
    </fieldset>
    </form>
  </fieldset>
  </main>
</body>
</html>


