<!DOCTYPE html>
<html>
<head>
  <title>Create Profile</title>
</head>
<link rel="stylesheet" type="text/css" href="../images/style.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
<body>
  <header>
    <h1>New User Information</h1>

      <%- include('../partials/nav'); -%>
      
  </header>

  <main>
    <h2>Enter Information</h2>
    <form action="/users" method="POST">
      <input type="text" name="firstName" placeholder="First Name"><br>
      <input type="text" name="lastName" placeholder="Last Name"><br>
      <input type="text" name="email" placeholder="Email Address"><br>
      <input type="text" name="phone" placeholder="Phone Number"><br>
      <input type="number" name="age" placeholder="Age"><br>
      <!-- Marital Status: <input type="checkbox" name="maritalStatus" value="single">
                      <label for="single">Single</label>
                      <input type="checkbox" name="maritalStatus" value="married">
                      <label for="married">Married</label><br>
      Do you have children? <input type="checkbox" name="children" value="yes">
                            <label for="yes">Yes</label>
                            <input type="checkbox" name="children" value="no">
                            <label for="no">No</label><br>
      If Yes, enter children's ages: <input type="text" name="childrenAges"><br>
      Do you have a yard? <input type="checkbox" name="yard" value="yes">
                          <label for="yes">Yes</label>
                          <input type="checkbox" name="yard" value="no">
                          <label for="no">No</label><br>
      Do you have other pets? <input type="checkbox" name="otherPets" value="yes">
                              <label for="yes">Yes</label>
                              <input type="checkbox" name="otherPets" value="no">
                              <label for="no">No</label><br> -->
      <input type="submit">
    </form>
  </main>
</body>
</html>