<!DOCTYPE html>
<html>
  <head>
    <title>New Cat</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="../images/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <header>
      <h1>Add a New Cat</h1>

      <%- include('../partials/nav'); -%>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cats">Cats Index</a></li>
          <li><a href="/auth/logout">Log Out</a></li>
        </ul>
      </nav>

      
    </header>

    <main>
      <form action="/cats" method="POST">
        <input type="text" name="photo" placeholder="Photo URL"><br>
        <input type="text" name="name" placeholder="Cat Name"><br>
        <input type="number" name="age" placeholder="Age"><br>
        <input type="text" name="breed" placeholder="Breed"><br>
        Good with children? <input type="checkbox" name="goodWithKids"><br>
        Good with other pets? <input type="checkbox" name="goodWithPets"><br>
        Highly energetic? <input type="checkbox" name="highEnergy"><br>
        <input type="submit">
      </form>
    </main>
    
  </body>
</html>